# 데이터 시계열화

In [15]:
import pandas as pd

In [16]:
data = pd.read_csv('final_total_data.csv', index_col=0)
data.head()

,date,Rank,New_Artist,Title,Production,Runtime,Genre,Weekly Views,n_score,g_score,...,Ballad,Soul,Rock,Pop,season_autumn,season_spring,season_summer,season_winter,Previous_Rank,New_Rank
0,2023-09-24,1,악뮤,Love Lee,YG Entertainment,-0.733963,가요/댄스,2.119452,0.942971,1.00,...,0,0,0,0,1,0,0,0,0.000,False
1,2023-09-24,2,악뮤,후라이의 꿈,YG Entertainment,-0.077307,가요/블루스/포크,2.119452,0.942971,1.00,...,0,0,0,0,1,0,0,0,0.010,False
2,2023-09-24,4,뉴진스,Super Shy,ADOR,-1.390619,가요/댄스,2.047278,0.101924,0.06,...,0,0,0,0,1,0,0,0,0.015,False
3,2023-09-24,5,정국,Seven (feat. Latto) - Clean Ver.,BIGHIT MUSIC,-0.628898,가요/댄스,0.083618,0.613535,0.45,...,0,0,0,0,1,0,0,0,0.025,False
4,2023-09-24,6,뉴진스,ETA,ADOR,-1.495684,가요/댄스,2.047278,0.101924,0.06,...,0,0,0,0,1,0,0,0,0.020,False

In [17]:
data = data.drop(["New_Artist", "Title", "Production", "Genre", "Genre_split"], axis=1)
data

,date,Rank,Runtime,Weekly Views,n_score,g_score,ky_chart_on,KoreanMovies,Dance,Indie,...,Ballad,Soul,Rock,Pop,season_autumn,season_spring,season_summer,season_winter,Previous_Rank,New_Rank
0,2023-09-24,1,-0.733963,2.119452,0.942971,1.00,0,0,1,0,...,0,0,0,0,1,0,0,0,0.000,False
1,2023-09-24,2,-0.077307,2.119452,0.942971,1.00,0,0,0,0,...,0,0,0,0,1,0,0,0,0.010,False
2,2023-09-24,4,-1.390619,2.047278,0.101924,0.06,0,0,1,0,...,0,0,0,0,1,0,0,0,0.015,False
3,2023-09-24,5,-0.628898,0.083618,0.613535,0.45,0,0,1,0,...,0,0,0,0,1,0,0,0,0.025,False
4,2023-09-24,6,-1.495684,2.047278,0.101924,0.06,0,0,1,0,...,0,0,0,0,1,0,0,0,0.020,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9838,2024-09-08,195,0.947076,-0.201869,0.155657,0.62,0,0,1,0,...,0,0,0,0,1,0,0,0,0.955,False
9839,2024-09-08,196,0.448018,-1.011885,0.484755,0.96,0,0,0,0,...,0,0,0,0,1,0,0,0,1.000,True
9840,2024-09-08,197,0.185355,-0.565297,0.236114,0.00,0,0,0,0,...,0,0,0,0,1,0,0,0,0.855,False
9841,2024-09-08,198,0.211622,-0.223560,0.117507,0.06,0,0,0,0,...,0,1,0,0,1,0,0,0,0.965,False
9842,2024-09-08,200,0.579349,-0.578292,0.066367,0.28,0,0,0,0,...,0,0,0,0,1,0,0,0,1.000,True

In [19]:
data['date'] = pd.to_datetime(data['date'])
data = data.sort_values(by='date').reset_index(drop=True)

In [20]:
lag_features = ['Rank', 'Weekly Views', 'n_score', 'g_score']

for feature in lag_features:
    data[f'{feature}_lag_1'] = data[feature].shift(1)
    data[f'{feature}_lag_2'] = data[feature].shift(2)
    data[f'{feature}_lag_3'] = data[feature].shift(3)

In [21]:
data = data.dropna().reset_index(drop=True)

In [24]:
data[['Rank_lag_1', 'Weekly Views_lag_1', 'n_score_lag_1', 'g_score_lag_1']].describe()

        Rank_lag_1  Weekly Views_lag_1  n_score_lag_1  g_score_lag_1
count  9840.000000         9840.000000    9840.000000    9840.000000
mean    100.007724           -0.000054       0.382380       0.276653
std      57.996880            0.999906       0.234809       0.238125
min       1.000000           -1.011885       0.000000       0.000000
25%      49.000000           -0.608452       0.194737       0.080000
50%     100.000000           -0.233371       0.356714       0.220000
75%     150.000000            0.367018       0.510962       0.440000
max     200.000000            6.126505       1.000000       1.000000

In [30]:
data.to_csv('lstm_total_data.csv')

In [32]:
data[['Weekly Views', 'n_score', 'g_score', 'Rank_lag_1', 'Rank_lag_2', 'Rank_lag_3', 'Rank']].to_csv('lstm_data.csv')

In [33]:
features = ['Weekly Views', 'n_score', 'g_score', 'Rank_lag_1', 'Rank_lag_2', 'Rank_lag_3']
target = 'Rank'

In [36]:
X_data = data[features]
y_data = data[target]

X_data.to_csv('lstm_X_data.csv')
y_data.to_csv('lstm_y_data.csv')