In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("final_total_data.csv", index_col=0)
data.head()

,date,Rank,New_Artist,Title,Production,Runtime,Genre,Weekly Views,n_score,g_score,...,K-Pop,Folk,Dance,Traditional,season_autumn,season_spring,season_summer,season_winter,Previous_Rank,New_Rank
0,2023-09-24,1,악뮤,Love Lee,YG Entertainment,-5.481164,가요/댄스,-1.011884,0.005413,0.0100,...,1,0,1,0,1,0,0,0,0.000,False
1,2023-09-24,2,악뮤,후라이의 꿈,YG Entertainment,-5.463916,가요/블루스/포크,-1.011884,0.005413,0.0100,...,1,1,0,0,1,0,0,0,0.010,False
2,2023-09-24,4,뉴진스,Super Shy,ADOR,-5.498411,가요/댄스,-1.011884,-0.003032,0.0006,...,1,0,1,0,1,0,0,0,0.015,False
3,2023-09-24,5,정국,Seven (feat. Latto) - Clean Ver.,BIGHIT MUSIC,-5.478404,가요/댄스,-1.011885,0.002105,0.0045,...,1,0,1,0,1,0,0,0,0.025,False
4,2023-09-24,6,뉴진스,ETA,ADOR,-5.501171,가요/댄스,-1.011884,-0.003032,0.0006,...,1,0,1,0,1,0,0,0,0.020,False

In [3]:
data.columns

Index(['date', 'Rank', 'New_Artist', 'Title', 'Production', 'Runtime', 'Genre',
       'Weekly Views', 'n_score', 'g_score', 'ky_chart_on', 'Genre_split',
       'J-POP', 'Soul', 'Trot', 'Pop', 'OriginalSoundtrack', 'Hip-Hop', 'Rap',
       'Drama', 'Electronica', 'Rock', 'KoreanMovies', 'R&B', 'Ballad',
       'Classical', 'Indie', 'All', 'Crossover', 'Jazz', 'Blues', 'K-Pop',
       'Folk', 'Dance', 'Traditional', 'season_autumn', 'season_spring',
       'season_summer', 'season_winter', 'Previous_Rank', 'New_Rank'],
      dtype='object')

In [4]:
data = data.drop(['date', 'New_Artist', 'Title', 'Production', 'Genre', 'Genre_split'], axis=1)
data.head()

,Rank,Runtime,Weekly Views,n_score,g_score,ky_chart_on,J-POP,Soul,Trot,Pop,...,K-Pop,Folk,Dance,Traditional,season_autumn,season_spring,season_summer,season_winter,Previous_Rank,New_Rank
0,1,-5.481164,-1.011884,0.005413,0.0100,0,0,0,0,0,...,1,0,1,0,1,0,0,0,0.000,False
1,2,-5.463916,-1.011884,0.005413,0.0100,0,0,0,0,0,...,1,1,0,0,1,0,0,0,0.010,False
2,4,-5.498411,-1.011884,-0.003032,0.0006,0,0,0,0,0,...,1,0,1,0,1,0,0,0,0.015,False
3,5,-5.478404,-1.011885,0.002105,0.0045,0,0,0,0,0,...,1,0,1,0,1,0,0,0,0.025,False
4,6,-5.501171,-1.011884,-0.003032,0.0006,0,0,0,0,0,...,1,0,1,0,1,0,0,0,0.020,False

In [5]:
X_data = data.drop(['Rank'], axis=1)
y_data = data[['Rank']]

In [6]:
X_data.head()

,Runtime,Weekly Views,n_score,g_score,ky_chart_on,J-POP,Soul,Trot,Pop,OriginalSoundtrack,...,K-Pop,Folk,Dance,Traditional,season_autumn,season_spring,season_summer,season_winter,Previous_Rank,New_Rank
0,-5.481164,-1.011884,0.005413,0.0100,0,0,0,0,0,0,...,1,0,1,0,1,0,0,0,0.000,False
1,-5.463916,-1.011884,0.005413,0.0100,0,0,0,0,0,0,...,1,1,0,0,1,0,0,0,0.010,False
2,-5.498411,-1.011884,-0.003032,0.0006,0,0,0,0,0,0,...,1,0,1,0,1,0,0,0,0.015,False
3,-5.478404,-1.011885,0.002105,0.0045,0,0,0,0,0,0,...,1,0,1,0,1,0,0,0,0.025,False
4,-5.501171,-1.011884,-0.003032,0.0006,0,0,0,0,0,0,...,1,0,1,0,1,0,0,0,0.020,False

In [7]:
y_data.head()

   Rank
0     1
1     2
2     4
3     5
4     6

In [8]:
X_data.to_csv('X_data.csv')
y_data.to_csv('y_data.csv')

In [9]:
data.to_csv('merged_data.csv')