In [1]:
import pandas as pd

# path = 'D:/20240416/5. data_analysis_workspace/0_project/음원 데이터를 활용한 주간음원순위 예측.csv'

path = 'circle_chart_with_trends(20241002).csv'
data = pd.read_csv(path)
data.head()

,date,Rank,Title,Artist,Production,Weekly Views,Genre,Runtime,New_Artist,ky_rank,n_score,g_score
0,2023-09-24,1,Love Lee,AKMU (악뮤),YG Entertainment,11929992.0,가요 / 댄스,3:00,악뮤,NaN,94.32015,100.0
1,2023-09-24,2,후라이의 꿈,AKMU (악뮤),YG Entertainment,11929992.0,가요 / 블루스/포크,3:25,악뮤,NaN,94.32015,100.0
2,2023-09-24,3,"Smoke (Prod. Dynamicduo, Padi)","다이나믹 듀오 (Dynamic Duo), 이영지",Stone Music Entertainment,4473459.0,가요 / 랩/힙합,3:30,"다이나믹 듀오 , 이영지",NaN,NaN,0
3,2023-09-24,4,Super Shy,NewJeans,ADOR,11655019.0,가요 / 댄스,2:35,뉴진스,NaN,10.55509,6.0
4,2023-09-24,5,Seven (feat. Latto) - Clean Ver.,정국,BIGHIT MUSIC,4173726.0,가요 / 댄스,3:04,정국,NaN,61.50958,45.0

In [2]:
import pandas as pd

# 'date' 열이 datetime 형식인지 확인
is_datetime = pd.api.types.is_datetime64_any_dtype(data['date'])

if is_datetime:
    print("date 열은 이미 datetime 형식입니다.")
else:
    print("date 열은 datetime 형식이 아닙니다. 변환이 필요합니다.")

date 열은 datetime 형식이 아닙니다. 변환이 필요합니다.

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10682 entries, 0 to 10681
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          10682 non-null  object
 1   Rank          10682 non-null  int64
 2   Title         10682 non-null  object
 3   Artist        10682 non-null  object
 4   Production    10682 non-null  object
 5   Weekly Views  8011 non-null   float64
 6   Genre         10677 non-null  object
 7   Runtime       10677 non-null  object
 8   New_Artist    10682 non-null  object
 9   ky_rank       458 non-null    float64
 10  n_score       9845 non-null   float64
 11  g_score       10626 non-null  object
dtypes: float64(3), int64(1), object(8)
memory usage: 1001.6+ KB

In [4]:
data[data['Title']=='넌 쉽게 말했지만']

,date,Rank,Title,Artist,Production,Weekly Views,Genre,Runtime,New_Artist,ky_rank,n_score,g_score
2675,2023-12-17,156,넌 쉽게 말했지만,싱어게인3 49호 가수,"SLL, 뮤직팜",NaN,NaN,NaN,싱어게인3 49호 가수,NaN,26.65516,0
3130,2023-12-31,186,넌 쉽게 말했지만,싱어게인3 49호 가수,"SLL, 뮤직팜",NaN,NaN,NaN,싱어게인3 49호 가수,NaN,4.24843,0
3296,2024-01-07,145,넌 쉽게 말했지만,싱어게인3 49호 가수,"SLL, 뮤직팜",NaN,NaN,NaN,싱어게인3 49호 가수,NaN,26.61203,0
3503,2024-01-14,141,넌 쉽게 말했지만,싱어게인3 49호 가수,"SLL, 뮤직팜",NaN,NaN,NaN,싱어게인3 49호 가수,NaN,5.00323,0
3744,2024-01-21,169,넌 쉽게 말했지만,싱어게인3 49호 가수,"SLL, 뮤직팜",NaN,NaN,NaN,싱어게인3 49호 가수,NaN,NaN,0

In [5]:


# '넌 쉽게 말했지만' 곡을 필터링한 후 Genre와 Runtime 값을 업데이트
data.loc[data['Title'] == '넌 쉽게 말했지만', 'Genre'] = '가요 / R&B/소울'
data.loc[data['Title'] == '넌 쉽게 말했지만', 'Runtime'] = '03:09'

# 업데이트가 제대로 되었는지 확인

data[data['Title'] == '넌 쉽게 말했지만'][['Title', 'Genre', 'Runtime']]

# data[data['Title']=='넌 쉽게 말했지만']

          Title        Genre Runtime
2675  넌 쉽게 말했지만  가요 / R&B/소울   03:09
3130  넌 쉽게 말했지만  가요 / R&B/소울   03:09
3296  넌 쉽게 말했지만  가요 / R&B/소울   03:09
3503  넌 쉽게 말했지만  가요 / R&B/소울   03:09
3744  넌 쉽게 말했지만  가요 / R&B/소울   03:09

In [6]:
# 결측값찾는 코드
data["g_score"][data["g_score"].isnull()].reset_index()

    index g_score
0      27     NaN
1     122     NaN
2     237     NaN
3     350     NaN
4     449     NaN
5     660     NaN
6     872     NaN
7    1086     NaN
8    1299     NaN
9    1518     NaN
10   1732     NaN
11   1946     NaN
12   2165     NaN
13   2379     NaN
14   2607     NaN
15   2818     NaN
16   3020     NaN
17   3236     NaN
18   3453     NaN
19   3665     NaN
20   3891     NaN
21   4102     NaN
22   4320     NaN
23   4542     NaN
24   4755     NaN
25   4969     NaN
26   5146     NaN
27   5189     NaN
28   5412     NaN
29   5415     NaN
30   5623     NaN
31   5838     NaN
32   6041     NaN
33   6240     NaN
34   6442     NaN
35   6658     NaN
36   6861     NaN
37   7054     NaN
38   7258     NaN
39   7474     NaN
40   7530     NaN
41   7671     NaN
42   7872     NaN
43   8083     NaN
44   8291     NaN
45   8517     NaN
46   8732     NaN
47   8952     NaN
48   9143     NaN
49   9347     NaN
50   9555     NaN
51   9767     NaN
52   9992     NaN
53  10214     NaN
54  10449     NaN
55  10665     NaN

In [7]:
data["g_score"][data["g_score"].isna()].reset_index()

    index g_score
0      27     NaN
1     122     NaN
2     237     NaN
3     350     NaN
4     449     NaN
5     660     NaN
6     872     NaN
7    1086     NaN
8    1299     NaN
9    1518     NaN
10   1732     NaN
11   1946     NaN
12   2165     NaN
13   2379     NaN
14   2607     NaN
15   2818     NaN
16   3020     NaN
17   3236     NaN
18   3453     NaN
19   3665     NaN
20   3891     NaN
21   4102     NaN
22   4320     NaN
23   4542     NaN
24   4755     NaN
25   4969     NaN
26   5146     NaN
27   5189     NaN
28   5412     NaN
29   5415     NaN
30   5623     NaN
31   5838     NaN
32   6041     NaN
33   6240     NaN
34   6442     NaN
35   6658     NaN
36   6861     NaN
37   7054     NaN
38   7258     NaN
39   7474     NaN
40   7530     NaN
41   7671     NaN
42   7872     NaN
43   8083     NaN
44   8291     NaN
45   8517     NaN
46   8732     NaN
47   8952     NaN
48   9143     NaN
49   9347     NaN
50   9555     NaN
51   9767     NaN
52   9992     NaN
53  10214     NaN
54  10449     NaN
55  10665     NaN

In [8]:
import numpy as np
# 'g_score'가 None, 'none' 문자열, NaN인 값들의 개수 계산
null_g_score_count = data["g_score"].apply(lambda x: x in [None, 'none', 'NaN', np.nan]).sum()
null_g_score_count2 = data["g_score"].apply(lambda x: x in [None, 'none', 'NaN']).sum()

null_g_score_count3 = data["g_score"].apply(lambda x: x in [np.nan]).sum()
null_g_score_count4 = data["g_score"].apply(lambda x: x in ['none']).sum()

# 결과 출력
print(null_g_score_count)
print(null_g_score_count2)

print(null_g_score_count3)
print(null_g_score_count4)

145
89
56
89

In [9]:
data["g_score"][data["g_score"] == "none"]

6002     none
6189     none
6382     none
6409     none
6586     none
         ...
10483    none
10496    none
10582    none
10659    none
10678    none
Name: g_score, Length: 89, dtype: object

In [10]:
data["g_score"][data["g_score"] == "NaN"]

Series([], Name: g_score, dtype: object)

In [11]:
data["g_score"][data["g_score"] == None]

Series([], Name: g_score, dtype: object)

In [12]:
# g_score 열의 고유한 값들을 확인
print(data["g_score"].unique())

['100.0' '0' '6.0' '45.0' '13' '16.0' '62' '48.0' '17.0' '3.0' '18.0'
 '4.0' '11.0' '34.0' '10.0' '38.0' nan '44' '13.0' '52.0' '30.0' '23.0'
 '0.0' '50.0' '27.0' '67.0' '5.0' '72.0' '57' '1.0' '63' '47.0' '59.0'
 '100' '44.0' '26.0' '2.0' '20.0' '15.0' '81.0' '12.0' '52' '35.0' '94'
 '65' '81' '80.0' '26' '29.0' '9.0' '53.0' '51.0' '61' '22.0' '49.0' '85'
 '76' '87.0' '61.0' '7.0' '8' '19.0' '91' '46.0' '40' '21.0' '25.0' '70.0'
 '33.0' '57.0' '39.0' '74.0' '47' '71' '79.0' '62.0' '72' '94.0' '36.0'
 '14.0' '82' '32.0' '59' '43' '28.0' '58.0' '16' '8.0' '42.0' '55' '24.0'
 '66.0' '55.0' '7' '39' '37.0' '53' '64.0' '56.0' '54' '60.0' '23' '48'
 '60' '54.0' '69' '70' '82.0' '6' '49' '36' '56' '68.0' '88' '46' '95.0'
 '65.0' '40.0' '18' '86.0' '42' '80' '77.0' '71.0' '50' '66' '41.0' '69.0'
 '63.0' '87' '43.0' '31.0' '73.0' '93.0' '92.0' '38' '78.0' '51' '85.0'
 '58' '97' '31' '76.0' '86' '89' '5' '68' '79' '84' '4' '24' '84.0' '45'
 '77' '20' '75.0' '73' '83.0' '41' '19' '17' '35' '83' '74' '29' '98.0'
 '3' '96' '78' '95' '67' '32' '34' '88.0' '30' '33' '21' '91.0' '75' '93'
 '28' '25' '14' '90.0' '97.0' '96.0' '27' '64' '15' '37' 'none' '89.0'
 '92' '22' '12' '11' '9' '90']

In [13]:
import numpy as np
data["g_score"].dtype

dtype('O')

In [14]:
# NaN 값만 필터링
nan_values = data["g_score"][data["g_score"].isna()]

# None 값이 있는지 확인 (NaN 외의 None을 찾기 위한 방법)
none_values = data["g_score"][data["g_score"] == None]

# 빈 문자열이 있는지 확인
empty_strings = data["g_score"][data["g_score"] == '']

# 빈 문자열이 있는지 확인
none_strings = data["g_score"][data["g_score"] == 'none']

# 결과 출력
print(f"NaN 값: {len(nan_values)}")
print(f"None 값: {len(none_values)}")
print(f"빈 문자열 값: {len(empty_strings)}")
print(f"빈 문자열 값: {len(none_strings)}")

NaN 값: 56
None 값: 0
빈 문자열 값: 0
빈 문자열 값: 89

In [15]:
# NaN 값이 있는 행 필터링
nan_rows = data[data["g_score"].isna()]


# 'none' 문자열이 있는 행 필터링
none_string_rows = data[data["g_score"] == 'none']

# NaN, None, 빈 문자열, 'none' 문자열을 포함하는 행 전체를 하나의 데이터프레임으로 합치기
combined_rows = pd.concat([nan_rows, none_string_rows]).drop_duplicates()

# 모든 필터링된 행들을 하나의 CSV 파일로 저장
combined_rows.to_csv('combined_g_score_empty_rows.csv', index=False)

In [16]:
# g_score 칼럼을 to_numeric으로 변환하면서, 변환 불가능한 값들을 NaN으로 변환
invalid_rows = data[pd.to_numeric(data['g_score'], errors='coerce').isna()]

# 변환 불가능한 값들이 있는 행 출력
print(invalid_rows)

             date  Rank                      Title            Artist  \
27     2023-09-24    28     Summer (Feat. 비오 (비오))             폴 블랑코
122    2023-09-24   118  on the street (with 제이 콜)  j-hope,  J. Cole
237    2023-10-01    30     Summer (Feat. 비오 (비오))             폴 블랑코
350    2023-10-01   138  on the street (with 제이 콜)  j-hope,  J. Cole
449    2023-10-08    34     Summer (Feat. 비오 (비오))             폴 블랑코
...           ...   ...                        ...               ...
10496  2024-09-08    24                     슬픈 초대장           순순희(지환)
10582  2024-09-08   107                      위태로울걸         오반 (OVAN)
10659  2024-09-08   180      자니 (Feat. DYNAMICDUO)   프라이머리 (Primary)
10665  2024-09-08   186     Summer (Feat. 비오 (비오))             폴 블랑코
10678  2024-09-08   197                    Run Run              이클립스

                                   Production  Weekly Views      Genre  \
27                             Ambition Musik     2255000.0  가요 / 랩/힙합
122                              BIGHIT MUSIC           NaN  가요 / 랩/힙합
237                            Ambition Musik     1914237.0  가요 / 랩/힙합
350                              BIGHIT MUSIC           NaN  가요 / 랩/힙합
449                            Ambition Musik     1766481.0  가요 / 랩/힙합
...                                       ...           ...        ...
10496                     제나두엔터테인먼트, 끌림엔터테인먼트     1568194.0   가요 / 발라드
10582                                  로맨틱팩토리           NaN    가요 / 인디
10659                                   아메바컬쳐           NaN  가요 / 랩/힙합
10665                          Ambition Musik           NaN  가요 / 랩/힙합
10678  BON FACTORY, Stone Music Entertainment     1701441.0  OST / 드라마

      Runtime  New_Artist  ky_rank   n_score g_score
27       3:20       폴 블랑코      NaN  96.72172     NaN
122      3:35  제이홉,  제이 콜      NaN       NaN     NaN
237      3:20       폴 블랑코      NaN  70.69250     NaN
350      3:35  제이홉,  제이 콜      NaN       NaN     NaN
449      3:20       폴 블랑코      NaN  70.90851     NaN
...       ...         ...      ...       ...     ...
10496    4:07         순순희      4.0  61.39919    none
10582    3:50          오반      NaN  69.24497    none
10659    3:54       프라이머리      NaN  80.86353    none
10665    3:20       폴 블랑코      NaN  45.33672     NaN
10678    3:35        이클립스      NaN  23.91994    none

[145 rows x 12 columns]

In [17]:
# 'g_score' 컬럼의 숫자 변환 시 에러가 발생한 행 필터링
invalid_rows = data[pd.to_numeric(data['g_score'], errors='coerce').isna()]

# 두 데이터프레임이 동일한지 비교하기
# 1. 공통된 행이 있는지 확인
common_rows = pd.merge(combined_rows, invalid_rows, how='inner')

# 2. 일치하는 행 수 출력
print(f"일치하는 행의 수: {len(common_rows)}")

# 3. 일치하지 않는 행이 있는지 확인
difference_rows = pd.concat([combined_rows, invalid_rows]).drop_duplicates(keep=False)

# 일치하지 않는 행이 있는지 출력
print(f"일치하지 않는 행의 수: {len(difference_rows)}")

일치하는 행의 수: 145
일치하지 않는 행의 수: 0

In [18]:
# 'g_score' 컬럼의 숫자 변환 시 에러가 발생한 행 필터링
invalid_rows = data[pd.to_numeric(data['g_score'], errors='coerce').isna()]

# 두 데이터프레임이 동일한지 비교하기
# 1. 공통된 행이 있는지 확인
common_rows = pd.merge(combined_rows, invalid_rows, how='inner')

# 2. 일치하는 행 수 출력
print(f"일치하는 행의 수: {len(common_rows)}")

# 3. 일치하지 않는 행이 있는지 확인
difference_rows = pd.concat([combined_rows, invalid_rows]).drop_duplicates(keep=False)

# 일치하지 않는 행의 수 출력
print(f"일치하지 않는 행의 수: {len(difference_rows)}")

# 4. 일치하지 않는 행이 있을 경우 출력
if not difference_rows.empty:
    print("일치하지 않는 행:")
    print(difference_rows)
else:
    print("두 데이터프레임의 모든 행이 일치합니다.")

일치하는 행의 수: 145
일치하지 않는 행의 수: 0
두 데이터프레임의 모든 행이 일치합니다.

In [19]:
import pandas as pd

# 예시 데이터프레임 alpha와 beta 생성
data_alpha = {'g_score': ['a', 'b', 'c', 'd']}
data_beta = {'g_score': ['a', 'b', 'c', 'e']}

alpha = pd.DataFrame(data_alpha)
beta = pd.DataFrame(data_beta)

# 두 데이터프레임을 비교하고, 어떤 데이터프레임에 속하는지 나타내기
comparison = alpha.merge(beta, on='g_score', how='outer', indicator=True)

# 비교 결과 출력
print("비교 결과:")
print(comparison)

# 'both'에 속하지 않은 행들만 필터링하여 차이점 출력
differences = comparison[comparison['_merge'] != 'both']

# 차이점 출력
print("\n일치하지 않는 행들:")
print(differences)

비교 결과:
  g_score      _merge
0       a        both
1       b        both
2       c        both
3       d   left_only
4       e  right_only

일치하지 않는 행들:
  g_score      _merge
3       d   left_only
4       e  right_only

In [20]:
import pandas as pd

# 예시 데이터 생성 (이 부분은 사용자가 이미 제공한 데이터프레임이라고 가정)
# invalid_rows와 combined_rows는 사용자가 작업한 데이터프레임
# 'g_score' 컬럼의 숫자 변환 시 에러가 발생한 행 필터링
invalid_rows = data[pd.to_numeric(data['g_score'], errors='coerce').isna()]

# 기존 combined_rows가 미리 존재하는 것으로 가정 (에러 발생 가능성 있는 데이터)
# 공통된 행이 있는지 확인 및 비교
comparison = pd.merge(combined_rows, invalid_rows, on='g_score', how='outer', indicator=True)

# 비교 결과 출력
print("비교 결과:")
print(comparison)

# 'both'에 속하지 않은 행들만 필터링하여 차이점 출력
differences = comparison[comparison['_merge'] != 'both']

# 차이점 출력
print(f"\n일치하지 않는 행의 수: {len(differences)}")
if not differences.empty:
    print("일치하지 않는 행들:")
    print(differences)
else:
    print("두 데이터프레임의 모든 행이 일치합니다.")

비교 결과:
           date_x  Rank_x                 Title_x Artist_x  \
0      2024-04-07     129                  슬픈 초대장  순순희(지환)
1      2024-04-07     129                  슬픈 초대장  순순희(지환)
2      2024-04-07     129                  슬픈 초대장  순순희(지환)
3      2024-04-07     129                  슬픈 초대장  순순희(지환)
4      2024-04-07     129                  슬픈 초대장  순순희(지환)
...           ...     ...                     ...      ...
11052  2024-09-08     186  Summer (Feat. 비오 (비오))    폴 블랑코
11053  2024-09-08     186  Summer (Feat. 비오 (비오))    폴 블랑코
11054  2024-09-08     186  Summer (Feat. 비오 (비오))    폴 블랑코
11055  2024-09-08     186  Summer (Feat. 비오 (비오))    폴 블랑코
11056  2024-09-08     186  Summer (Feat. 비오 (비오))    폴 블랑코

              Production_x  Weekly Views_x    Genre_x Runtime_x New_Artist_x  \
0      제나두엔터테인먼트, 끌림엔터테인먼트             NaN   가요 / 발라드      4:07          순순희
1      제나두엔터테인먼트, 끌림엔터테인먼트             NaN   가요 / 발라드      4:07          순순희
2      제나두엔터테인먼트, 끌림엔터테인먼트             NaN   가요 / 발라드      4:07          순순희
3      제나두엔터테인먼트, 끌림엔터테인먼트             NaN   가요 / 발라드      4:07          순순희
4      제나두엔터테인먼트, 끌림엔터테인먼트             NaN   가요 / 발라드      4:07          순순희
...                    ...             ...        ...       ...          ...
11052       Ambition Musik             NaN  가요 / 랩/힙합      3:20        폴 블랑코
11053       Ambition Musik             NaN  가요 / 랩/힙합      3:20        폴 블랑코
11054       Ambition Musik             NaN  가요 / 랩/힙합      3:20        폴 블랑코
11055       Ambition Musik             NaN  가요 / 랩/힙합      3:20        폴 블랑코
11056       Ambition Musik             NaN  가요 / 랩/힙합      3:20        폴 블랑코

       ky_rank_x  ...                 Title_y Artist_y  \
0            NaN  ...                  슬픈 초대장  순순희(지환)
1            NaN  ...                  슬픈 초대장  순순희(지환)
2            NaN  ...                  슬픈 초대장  순순희(지환)
3            NaN  ...                     소나기     이클립스
4            NaN  ...                     소나기     이클립스
...          ...  ...                     ...      ...
11052        NaN  ...  Summer (Feat. 비오 (비오))    폴 블랑코
11053        NaN  ...  Summer (Feat. 비오 (비오))    폴 블랑코
11054        NaN  ...  Summer (Feat. 비오 (비오))    폴 블랑코
11055        NaN  ...  Summer (Feat. 비오 (비오))    폴 블랑코
11056        NaN  ...  Summer (Feat. 비오 (비오))    폴 블랑코

                                 Production_y  Weekly Views_y    Genre_y  \
0                         제나두엔터테인먼트, 끌림엔터테인먼트             NaN   가요 / 발라드
1                         제나두엔터테인먼트, 끌림엔터테인먼트             NaN   가요 / 발라드
2                         제나두엔터테인먼트, 끌림엔터테인먼트             NaN   가요 / 발라드
3      BON FACTORY, Stone Music Entertainment             NaN  OST / 드라마
4      BON FACTORY, Stone Music Entertainment             NaN  OST / 드라마
...                                       ...             ...        ...
11052                          Ambition Musik             NaN  가요 / 랩/힙합
11053                          Ambition Musik             NaN  가요 / 랩/힙합
11054                          Ambition Musik             NaN  가요 / 랩/힙합
11055                          Ambition Musik             NaN  가요 / 랩/힙합
11056                          Ambition Musik             NaN  가요 / 랩/힙합

      Runtime_y New_Artist_y  ky_rank_y n_score_y _merge
0          4:07          순순희        NaN  55.58973   both
1          4:07          순순희        NaN  57.99789   both
2          4:07          순순희        NaN  49.49903   both
3          3:54         이클립스        NaN  43.52785   both
4          3:54         이클립스        NaN  53.57643   both
...         ...          ...        ...       ...    ...
11052      3:20        폴 블랑코        NaN  44.97458   both
11053      3:20        폴 블랑코        NaN  23.04955   both
11054      3:20        폴 블랑코        NaN  22.03939   both
11055      3:20        폴 블랑코        NaN  21.28970   both
11056      3:20        폴 블랑코        NaN  45.33672   both

[11057 rows x 24 columns]

일치하지 않는 행의 수: 0
두 데이터프레임의 모든 행이 일치합니다.

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10682 entries, 0 to 10681
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          10682 non-null  object
 1   Rank          10682 non-null  int64
 2   Title         10682 non-null  object
 3   Artist        10682 non-null  object
 4   Production    10682 non-null  object
 5   Weekly Views  8011 non-null   float64
 6   Genre         10682 non-null  object
 7   Runtime       10682 non-null  object
 8   New_Artist    10682 non-null  object
 9   ky_rank       458 non-null    float64
 10  n_score       9845 non-null   float64
 11  g_score       10626 non-null  object
dtypes: float64(3), int64(1), object(8)
memory usage: 1001.6+ KB

In [22]:
# g_score 열을 float으로 변환하고 오류가 발생하면 NaN으로 처리
data['g_score'] = pd.to_numeric(data['g_score'], errors='coerce').astype('Int64')

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10682 entries, 0 to 10681
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          10682 non-null  object
 1   Rank          10682 non-null  int64
 2   Title         10682 non-null  object
 3   Artist        10682 non-null  object
 4   Production    10682 non-null  object
 5   Weekly Views  8011 non-null   float64
 6   Genre         10682 non-null  object
 7   Runtime       10682 non-null  object
 8   New_Artist    10682 non-null  object
 9   ky_rank       458 non-null    float64
 10  n_score       9845 non-null   float64
 11  g_score       10537 non-null  Int64
dtypes: Int64(1), float64(3), int64(1), object(7)
memory usage: 1012.0+ KB

In [24]:
nan_rows = data[data["g_score"].isna()]
nan_rows

,date,Rank,Title,Artist,Production,Weekly Views,Genre,Runtime,New_Artist,ky_rank,n_score,g_score
27,2023-09-24,28,Summer (Feat. 비오 (비오)),폴 블랑코,Ambition Musik,2255000.0,가요 / 랩/힙합,3:20,폴 블랑코,NaN,96.72172,<NA>
122,2023-09-24,118,on the street (with 제이 콜),"j-hope, J. Cole",BIGHIT MUSIC,NaN,가요 / 랩/힙합,3:35,"제이홉, 제이 콜",NaN,NaN,<NA>
237,2023-10-01,30,Summer (Feat. 비오 (비오)),폴 블랑코,Ambition Musik,1914237.0,가요 / 랩/힙합,3:20,폴 블랑코,NaN,70.69250,<NA>
350,2023-10-01,138,on the street (with 제이 콜),"j-hope, J. Cole",BIGHIT MUSIC,NaN,가요 / 랩/힙합,3:35,"제이홉, 제이 콜",NaN,NaN,<NA>
449,2023-10-08,34,Summer (Feat. 비오 (비오)),폴 블랑코,Ambition Musik,1766481.0,가요 / 랩/힙합,3:20,폴 블랑코,NaN,70.90851,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...
10496,2024-09-08,24,슬픈 초대장,순순희(지환),"제나두엔터테인먼트, 끌림엔터테인먼트",1568194.0,가요 / 발라드,4:07,순순희,4.0,61.39919,<NA>
10582,2024-09-08,107,위태로울걸,오반 (OVAN),로맨틱팩토리,NaN,가요 / 인디,3:50,오반,NaN,69.24497,<NA>
10659,2024-09-08,180,자니 (Feat. DYNAMICDUO),프라이머리 (Primary),아메바컬쳐,NaN,가요 / 랩/힙합,3:54,프라이머리,NaN,80.86353,<NA>
10665,2024-09-08,186,Summer (Feat. 비오 (비오)),폴 블랑코,Ambition Musik,NaN,가요 / 랩/힙합,3:20,폴 블랑코,NaN,45.33672,<NA>
10678,2024-09-08,197,Run Run,이클립스,"BON FACTORY, Stone Music Entertainment",1701441.0,OST / 드라마,3:35,이클립스,NaN,23.91994,<NA>

In [25]:
# import numpy as np
# data["g_score"] = data["g_score"].replace("none",np.nan)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10682 entries, 0 to 10681
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          10682 non-null  object
 1   Rank          10682 non-null  int64
 2   Title         10682 non-null  object
 3   Artist        10682 non-null  object
 4   Production    10682 non-null  object
 5   Weekly Views  8011 non-null   float64
 6   Genre         10682 non-null  object
 7   Runtime       10682 non-null  object
 8   New_Artist    10682 non-null  object
 9   ky_rank       458 non-null    float64
 10  n_score       9845 non-null   float64
 11  g_score       10537 non-null  Int64
dtypes: Int64(1), float64(3), int64(1), object(7)
memory usage: 1012.0+ KB

In [26]:
def convert_runtime_to_seconds(runtime):
    try:
        minutes, seconds = map(int, runtime.split(':'))
        return minutes * 60 + seconds
    except:
        return None

data['Runtime'] = data['Runtime'].apply(convert_runtime_to_seconds)

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10682 entries, 0 to 10681
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          10682 non-null  object
 1   Rank          10682 non-null  int64
 2   Title         10682 non-null  object
 3   Artist        10682 non-null  object
 4   Production    10682 non-null  object
 5   Weekly Views  8011 non-null   float64
 6   Genre         10682 non-null  object
 7   Runtime       10682 non-null  int64
 8   New_Artist    10682 non-null  object
 9   ky_rank       458 non-null    float64
 10  n_score       9845 non-null   float64
 11  g_score       10537 non-null  Int64
dtypes: Int64(1), float64(3), int64(2), object(6)
memory usage: 1012.0+ KB

In [28]:
data['Genre'].drop_duplicates().sort_values().reset_index(drop=True)

0       J-POP / R&B/힙합
1            J-POP / 락
2            J-POP / 팝
3            OST / 드라마
4       OST / 애니메이션/게임
5             OST / 전체
6           OST / 한국영화
7         POP / R&B/소울
8              POP / 락
9           POP / 랩/힙합
10    POP / 블루스/포크/컨트리
11          POP / 월드뮤직
12             POP / 팝
13         가요 / R&B/소울
14             가요 / 댄스
15              가요 / 락
16           가요 / 랩/힙합
17            가요 / 발라드
18         가요 / 블루스/포크
19             가요 / 인디
20         가요 / 일렉트로니카
21             가요 / 전체
22            가요 / 트로트
23           그외장르 / 캐롤
24             재즈 / 정통
25         클래식 / 크로스오버
Name: Genre, dtype: object

In [29]:
data['Genre'].value_counts()

Genre
가요 / 댄스             3213
가요 / 발라드            2090
가요 / 락              1027
OST / 드라마            816
POP / 팝              813
가요 / 인디              758
가요 / 랩/힙합            544
가요 / R&B/소울          534
가요 / 블루스/포크          199
가요 / 전체              146
OST / 한국영화           102
가요 / 트로트              97
OST / 전체              72
가요 / 일렉트로니카           57
J-POP / 팝             49
J-POP / 락             39
그외장르 / 캐롤             37
OST / 애니메이션/게임        26
POP / 랩/힙합            21
POP / R&B/소울          15
POP / 월드뮤직             9
POP / 락                8
POP / 블루스/포크/컨트리       6
재즈 / 정통                2
클래식 / 크로스오버            1
J-POP / R&B/힙합         1
Name: count, dtype: int64

In [30]:
data[data['Genre']== 'J-POP / R&B/힙합']

,date,Rank,Title,Artist,Production,Weekly Views,Genre,Runtime,New_Artist,ky_rank,n_score,g_score
5444,2024-03-17,188,Bling-Bang-Bang-Born,Creepy Nuts,Sony Music Labels Inc.,2394499.0,J-POP / R&B/힙합,168,Creepy Nuts,NaN,NaN,1

In [31]:
# 'J-POP / R&B/힙합'을 'J-POP / 랩/힙합'으로 변경
data.loc[data['Genre'] == 'J-POP / R&B/힙합', 'Genre'] = 'J-POP / 랩/힙합'

# 변경된 데이터 확인
data[data['Genre'] == 'J-POP / 랩/힙합']

,date,Rank,Title,Artist,Production,Weekly Views,Genre,Runtime,New_Artist,ky_rank,n_score,g_score
5444,2024-03-17,188,Bling-Bang-Bang-Born,Creepy Nuts,Sony Music Labels Inc.,2394499.0,J-POP / 랩/힙합,168,Creepy Nuts,NaN,NaN,1

In [32]:
data['Genre'].drop_duplicates().sort_values().reset_index(drop=True)

0            J-POP / 락
1         J-POP / 랩/힙합
2            J-POP / 팝
3            OST / 드라마
4       OST / 애니메이션/게임
5             OST / 전체
6           OST / 한국영화
7         POP / R&B/소울
8              POP / 락
9           POP / 랩/힙합
10    POP / 블루스/포크/컨트리
11          POP / 월드뮤직
12             POP / 팝
13         가요 / R&B/소울
14             가요 / 댄스
15              가요 / 락
16           가요 / 랩/힙합
17            가요 / 발라드
18         가요 / 블루스/포크
19             가요 / 인디
20         가요 / 일렉트로니카
21             가요 / 전체
22            가요 / 트로트
23           그외장르 / 캐롤
24             재즈 / 정통
25         클래식 / 크로스오버
Name: Genre, dtype: object

In [33]:
data['Genre'].value_counts()

Genre
가요 / 댄스             3213
가요 / 발라드            2090
가요 / 락              1027
OST / 드라마            816
POP / 팝              813
가요 / 인디              758
가요 / 랩/힙합            544
가요 / R&B/소울          534
가요 / 블루스/포크          199
가요 / 전체              146
OST / 한국영화           102
가요 / 트로트              97
OST / 전체              72
가요 / 일렉트로니카           57
J-POP / 팝             49
J-POP / 락             39
그외장르 / 캐롤             37
OST / 애니메이션/게임        26
POP / 랩/힙합            21
POP / R&B/소울          15
POP / 월드뮤직             9
POP / 락                8
POP / 블루스/포크/컨트리       6
재즈 / 정통                2
클래식 / 크로스오버            1
J-POP / 랩/힙합           1
Name: count, dtype: int64

In [34]:
# 한국어 장르명과 영어 장르명을 대응시키는 딕셔너리 생성
genre_translation = {
    '가요 / 댄스': 'K-pop / Dance',
    '가요 / 블루스/포크': 'K-pop / Blues/Folk',
    '가요 / 랩/힙합': 'K-pop / Rap/Hip-hop',
    '가요 / 발라드': 'K-pop / Ballad',
    '가요 / R&B/소울': 'K-pop / R&B/Soul',
    '가요 / 락': 'K-pop / Rock',
    '가요 / 인디': 'K-pop / Indie',
    '가요 / 트로트': 'K-pop / Trot',
    '가요 / 일렉트로니카': 'K-pop / Electronica',
    '가요 / 전체': 'K-pop / General',
    'OST / 전체': 'OST / General',
    'OST / 드라마': 'OST / Drama',
    'OST / 애니메이션/게임': 'OST / Animation/Game',
    'OST / 한국영화': 'OST / Korean Movie',
    'POP / 팝': 'Pop / Pop',
    'POP / 랩/힙합': 'Pop / Rap/Hip-hop',
    'POP / 블루스/포크/컨트리': 'Pop / Blues/Folk',
    'POP / 월드뮤직': 'Pop / World Music',
    'POP / R&B/소울': 'Pop / R&B/Soul',
    'POP / 락': 'Pop / Rock',
    'J-POP / 팝': 'J-pop / Pop',
    'J-POP / 락': 'J-pop / Rock',
    'J-POP / 랩/힙합': 'J-pop / Rap/Hip-hop',
    'J-POP / R&B/힙합': 'J-pop / R&B/Hip-hop',
    '그외장르 / 캐롤': 'Other / Carol',
    '재즈 / 정통': 'Jazz / Traditional',
    '클래식 / 크로스오버': 'Classical / Crossover'
}

# 'Genre' 열에서 한국어 장르명을 영어 장르명으로 변경
data['Genre'] = data['Genre'].replace(genre_translation)

# 변경된 장르 확인
data['Genre'].drop_duplicates().sort_values().reset_index(drop=True)

0     Classical / Crossover
1               J-pop / Pop
2       J-pop / Rap/Hip-hop
3              J-pop / Rock
4        Jazz / Traditional
5            K-pop / Ballad
6        K-pop / Blues/Folk
7             K-pop / Dance
8       K-pop / Electronica
9           K-pop / General
10            K-pop / Indie
11         K-pop / R&B/Soul
12      K-pop / Rap/Hip-hop
13             K-pop / Rock
14             K-pop / Trot
15     OST / Animation/Game
16              OST / Drama
17            OST / General
18       OST / Korean Movie
19            Other / Carol
20         Pop / Blues/Folk
21                Pop / Pop
22           Pop / R&B/Soul
23        Pop / Rap/Hip-hop
24               Pop / Rock
25        Pop / World Music
Name: Genre, dtype: object

In [35]:
# import pandas as pd

# # pandas 설정 변경: 출력 시 최대 열/행 수를 설정
# pd.set_option('display.max_columns', None)  # 모든 열을 출력
# pd.set_option('display.max_rows', None)     # 모든 행을 출력


# 1. 장르 major_cate 및 sub_cate로 나누기
data[['major_cate', 'sub_cate']] = data['Genre'].str.split(' / ', expand=True)

# 2. major_cate와 sub_cate 원핫인코딩
# major_cate 원핫인코딩
dummies_major_cate = pd.get_dummies(data['major_cate'], prefix='major_cate').astype(int)

# sub_cate 원핫인코딩
dummies_sub_cate = pd.get_dummies(data['sub_cate'], prefix='sub_cate').astype(int)

# 3. 원핫인코딩된 대분류와 소분류 데이터를 기존 데이터프레임에 추가
data = pd.concat([data, dummies_major_cate, dummies_sub_cate], axis=1)

# 결과 확인
data.head().T

,0,1,2,3,4
date,2023-09-24,2023-09-24,2023-09-24,2023-09-24,2023-09-24
Rank,1,2,3,4,5
Title,Love Lee,후라이의 꿈,"Smoke (Prod. Dynamicduo, Padi)",Super Shy,Seven (feat. Latto) - Clean Ver.
Artist,AKMU (악뮤),AKMU (악뮤),"다이나믹 듀오 (Dynamic Duo), 이영지",NewJeans,정국
Production,YG Entertainment,YG Entertainment,Stone Music Entertainment,ADOR,BIGHIT MUSIC
Weekly Views,11929992.0,11929992.0,4473459.0,11655019.0,4173726.0
Genre,K-pop / Dance,K-pop / Blues/Folk,K-pop / Rap/Hip-hop,K-pop / Dance,K-pop / Dance
Runtime,180,205,210,155,184
New_Artist,악뮤,악뮤,"다이나믹 듀오 , 이영지",뉴진스,정국
ky_rank,NaN,NaN,NaN,NaN,NaN
n_score,94.32015,94.32015,NaN,10.55509,61.50958
g_score,100,100,0,6,45
major_cate,K-pop,K-pop,K-pop,K-pop,K-pop
sub_cate,Dance,Blues/Folk,Rap/Hip-hop,Dance,Dance
major_cate_Classical,0,0,0,0,0
major_cate_J-pop,0,0,0,0,0
major_cate_Jazz,0,0,0,0,0
major_cate_K-pop,1,1,1,1,1
major_cate_OST,0,0,0,0,0
major_cate_Other,0,0,0,0,0
major_cate_Pop,0,0,0,0,0
sub_cate_Animation/Game,0,0,0,0,0
sub_cate_Ballad,0,0,0,0,0
sub_cate_Blues/Folk,0,1,0,0,0
sub_cate_Carol,0,0,0,0,0
sub_cate_Crossover,0,0,0,0,0
sub_cate_Dance,1,0,0,1,1
sub_cate_Drama,0,0,0,0,0
sub_cate_Electronica,0,0,0,0,0
sub_cate_General,0,0,0,0,0
sub_cate_Indie,0,0,0,0,0
sub_cate_Korean Movie,0,0,0,0,0
sub_cate_Pop,0,0,0,0,0
sub_cate_R&B/Soul,0,0,0,0,0
sub_cate_Rap/Hip-hop,0,0,1,0,0
sub_cate_Rock,0,0,0,0,0
sub_cate_Traditional,0,0,0,0,0
sub_cate_Trot,0,0,0,0,0
sub_cate_World Music,0,0,0,0,0

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10682 entries, 0 to 10681
Data columns (total 39 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date                     10682 non-null  object
 1   Rank                     10682 non-null  int64
 2   Title                    10682 non-null  object
 3   Artist                   10682 non-null  object
 4   Production               10682 non-null  object
 5   Weekly Views             8011 non-null   float64
 6   Genre                    10682 non-null  object
 7   Runtime                  10682 non-null  int64
 8   New_Artist               10682 non-null  object
 9   ky_rank                  458 non-null    float64
 10  n_score                  9845 non-null   float64
 11  g_score                  10537 non-null  Int64
 12  major_cate               10682 non-null  object
 13  sub_cate                 10682 non-null  object
 14  major_cate_Classical     10682 non-null  int64
 15  major_cate_J-pop         10682 non-null  int64
 16  major_cate_Jazz          10682 non-null  int64
 17  major_cate_K-pop         10682 non-null  int64
 18  major_cate_OST           10682 non-null  int64
 19  major_cate_Other         10682 non-null  int64
 20  major_cate_Pop           10682 non-null  int64
 21  sub_cate_Animation/Game  10682 non-null  int64
 22  sub_cate_Ballad          10682 non-null  int64
 23  sub_cate_Blues/Folk      10682 non-null  int64
 24  sub_cate_Carol           10682 non-null  int64
 25  sub_cate_Crossover       10682 non-null  int64
 26  sub_cate_Dance           10682 non-null  int64
 27  sub_cate_Drama           10682 non-null  int64
 28  sub_cate_Electronica     10682 non-null  int64
 29  sub_cate_General         10682 non-null  int64
 30  sub_cate_Indie           10682 non-null  int64
 31  sub_cate_Korean Movie    10682 non-null  int64
 32  sub_cate_Pop             10682 non-null  int64
 33  sub_cate_R&B/Soul        10682 non-null  int64
 34  sub_cate_Rap/Hip-hop     10682 non-null  int64
 35  sub_cate_Rock            10682 non-null  int64
 36  sub_cate_Traditional     10682 non-null  int64
 37  sub_cate_Trot            10682 non-null  int64
 38  sub_cate_World Music     10682 non-null  int64
dtypes: Int64(1), float64(3), int64(27), object(8)
memory usage: 3.2+ MB

In [37]:
# dtype이 object인 열만 선택하여 확인
object_columns = data.select_dtypes(include=['object'])

# 선택된 열들의 정보 확인
object_columns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10682 entries, 0 to 10681
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        10682 non-null  object
 1   Title       10682 non-null  object
 2   Artist      10682 non-null  object
 3   Production  10682 non-null  object
 4   Genre       10682 non-null  object
 5   New_Artist  10682 non-null  object
 6   major_cate  10682 non-null  object
 7   sub_cate    10682 non-null  object
dtypes: object(8)
memory usage: 667.8+ KB

In [38]:
from datetime import datetime

# # 1. 'date' 열을 문자열로 변환 (만약 이미 datetime 형식이라면 변환)
# data['date'] = data['date'].astype(str)

# # 2. 'date' 열의 연도 앞 2자리 "20"을 제거
# data['date'] = data['date'].apply(lambda x: x[2:] if isinstance(x, str) else x)

data['date'] = pd.to_datetime(data['date'])

# # 3. 앞 2자리 연도가 제거된 날짜를 다시 datetime 형식으로 변환
# data['date'] = pd.to_datetime(data['date'], format='%y-%m-%d', errors='coerce')

# # 4. 시, 분, 초 제거 (날짜 정보만 유지)
# data['date'] = data['date'].dt.date

# # 변환된 데이터 확인

# data.head()
data['date'].unique()

<DatetimeArray>
['2023-09-24 00:00:00', '2023-10-01 00:00:00', '2023-10-08 00:00:00',
 '2023-10-15 00:00:00', '2023-10-22 00:00:00', '2023-10-29 00:00:00',
 '2023-11-05 00:00:00', '2023-11-12 00:00:00', '2023-11-19 00:00:00',
 '2023-11-26 00:00:00', '2023-12-03 00:00:00', '2023-12-10 00:00:00',
 '2023-12-17 00:00:00', '2023-12-24 00:00:00', '2023-12-31 00:00:00',
 '2024-01-07 00:00:00', '2024-01-14 00:00:00', '2024-01-21 00:00:00',
 '2024-01-28 00:00:00', '2024-02-04 00:00:00', '2024-02-11 00:00:00',
 '2024-02-18 00:00:00', '2024-02-25 00:00:00', '2024-03-03 00:00:00',
 '2024-03-10 00:00:00', '2024-03-17 00:00:00', '2024-03-24 00:00:00',
 '2024-03-31 00:00:00', '2024-04-07 00:00:00', '2024-04-14 00:00:00',
 '2024-04-21 00:00:00', '2024-04-28 00:00:00', '2024-05-05 00:00:00',
 '2024-05-12 00:00:00', '2024-05-19 00:00:00', '2024-05-26 00:00:00',
 '2024-06-02 00:00:00', '2024-06-09 00:00:00', '2024-06-16 00:00:00',
 '2024-06-23 00:00:00', '2024-06-30 00:00:00', '2024-07-07 00:00:00',
 '2024-07-14 00:00:00', '2024-07-21 00:00:00', '2024-07-28 00:00:00',
 '2024-08-04 00:00:00', '2024-08-11 00:00:00', '2024-08-18 00:00:00',
 '2024-08-25 00:00:00', '2024-09-01 00:00:00', '2024-09-08 00:00:00']
Length: 51, dtype: datetime64[ns]

In [39]:
import pandas as pd

# 'date' 열이 datetime 형식인지 확인
is_datetime = pd.api.types.is_datetime64_any_dtype(data['date'])

if is_datetime:
    print("date 열은 이미 datetime 형식입니다.")
else:
    print("date 열은 datetime 형식이 아닙니다. 변환이 필요합니다.")

date 열은 이미 datetime 형식입니다.

In [40]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10682 entries, 0 to 10681
Data columns (total 39 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date                     10682 non-null  datetime64[ns]
 1   Rank                     10682 non-null  int64
 2   Title                    10682 non-null  object
 3   Artist                   10682 non-null  object
 4   Production               10682 non-null  object
 5   Weekly Views             8011 non-null   float64
 6   Genre                    10682 non-null  object
 7   Runtime                  10682 non-null  int64
 8   New_Artist               10682 non-null  object
 9   ky_rank                  458 non-null    float64
 10  n_score                  9845 non-null   float64
 11  g_score                  10537 non-null  Int64
 12  major_cate               10682 non-null  object
 13  sub_cate                 10682 non-null  object
 14  major_cate_Classical     10682 non-null  int64
 15  major_cate_J-pop         10682 non-null  int64
 16  major_cate_Jazz          10682 non-null  int64
 17  major_cate_K-pop         10682 non-null  int64
 18  major_cate_OST           10682 non-null  int64
 19  major_cate_Other         10682 non-null  int64
 20  major_cate_Pop           10682 non-null  int64
 21  sub_cate_Animation/Game  10682 non-null  int64
 22  sub_cate_Ballad          10682 non-null  int64
 23  sub_cate_Blues/Folk      10682 non-null  int64
 24  sub_cate_Carol           10682 non-null  int64
 25  sub_cate_Crossover       10682 non-null  int64
 26  sub_cate_Dance           10682 non-null  int64
 27  sub_cate_Drama           10682 non-null  int64
 28  sub_cate_Electronica     10682 non-null  int64
 29  sub_cate_General         10682 non-null  int64
 30  sub_cate_Indie           10682 non-null  int64
 31  sub_cate_Korean Movie    10682 non-null  int64
 32  sub_cate_Pop             10682 non-null  int64
 33  sub_cate_R&B/Soul        10682 non-null  int64
 34  sub_cate_Rap/Hip-hop     10682 non-null  int64
 35  sub_cate_Rock            10682 non-null  int64
 36  sub_cate_Traditional     10682 non-null  int64
 37  sub_cate_Trot            10682 non-null  int64
 38  sub_cate_World Music     10682 non-null  int64
dtypes: Int64(1), datetime64[ns](1), float64(3), int64(27), object(7)
memory usage: 3.2+ MB

In [41]:
# 1. 'date' 컬럼을 datetime 형식으로 변환
data['date'] = pd.to_datetime(data['date'], format='%Y-%m-%d')

# 2. 'runtime'을 분:초 형식에서 초 단위로 변환하는 함수 작성 및 적용

data['date'] = data['date'].astype('datetime64[s]')

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10682 entries, 0 to 10681
Data columns (total 39 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date                     10682 non-null  datetime64[s]
 1   Rank                     10682 non-null  int64
 2   Title                    10682 non-null  object
 3   Artist                   10682 non-null  object
 4   Production               10682 non-null  object
 5   Weekly Views             8011 non-null   float64
 6   Genre                    10682 non-null  object
 7   Runtime                  10682 non-null  int64
 8   New_Artist               10682 non-null  object
 9   ky_rank                  458 non-null    float64
 10  n_score                  9845 non-null   float64
 11  g_score                  10537 non-null  Int64
 12  major_cate               10682 non-null  object
 13  sub_cate                 10682 non-null  object
 14  major_cate_Classical     10682 non-null  int64
 15  major_cate_J-pop         10682 non-null  int64
 16  major_cate_Jazz          10682 non-null  int64
 17  major_cate_K-pop         10682 non-null  int64
 18  major_cate_OST           10682 non-null  int64
 19  major_cate_Other         10682 non-null  int64
 20  major_cate_Pop           10682 non-null  int64
 21  sub_cate_Animation/Game  10682 non-null  int64
 22  sub_cate_Ballad          10682 non-null  int64
 23  sub_cate_Blues/Folk      10682 non-null  int64
 24  sub_cate_Carol           10682 non-null  int64
 25  sub_cate_Crossover       10682 non-null  int64
 26  sub_cate_Dance           10682 non-null  int64
 27  sub_cate_Drama           10682 non-null  int64
 28  sub_cate_Electronica     10682 non-null  int64
 29  sub_cate_General         10682 non-null  int64
 30  sub_cate_Indie           10682 non-null  int64
 31  sub_cate_Korean Movie    10682 non-null  int64
 32  sub_cate_Pop             10682 non-null  int64
 33  sub_cate_R&B/Soul        10682 non-null  int64
 34  sub_cate_Rap/Hip-hop     10682 non-null  int64
 35  sub_cate_Rock            10682 non-null  int64
 36  sub_cate_Traditional     10682 non-null  int64
 37  sub_cate_Trot            10682 non-null  int64
 38  sub_cate_World Music     10682 non-null  int64
dtypes: Int64(1), datetime64[s](1), float64(3), int64(27), object(7)
memory usage: 3.2+ MB

In [43]:
data['date'].unique()

<DatetimeArray>
['2023-09-24 00:00:00', '2023-10-01 00:00:00', '2023-10-08 00:00:00',
 '2023-10-15 00:00:00', '2023-10-22 00:00:00', '2023-10-29 00:00:00',
 '2023-11-05 00:00:00', '2023-11-12 00:00:00', '2023-11-19 00:00:00',
 '2023-11-26 00:00:00', '2023-12-03 00:00:00', '2023-12-10 00:00:00',
 '2023-12-17 00:00:00', '2023-12-24 00:00:00', '2023-12-31 00:00:00',
 '2024-01-07 00:00:00', '2024-01-14 00:00:00', '2024-01-21 00:00:00',
 '2024-01-28 00:00:00', '2024-02-04 00:00:00', '2024-02-11 00:00:00',
 '2024-02-18 00:00:00', '2024-02-25 00:00:00', '2024-03-03 00:00:00',
 '2024-03-10 00:00:00', '2024-03-17 00:00:00', '2024-03-24 00:00:00',
 '2024-03-31 00:00:00', '2024-04-07 00:00:00', '2024-04-14 00:00:00',
 '2024-04-21 00:00:00', '2024-04-28 00:00:00', '2024-05-05 00:00:00',
 '2024-05-12 00:00:00', '2024-05-19 00:00:00', '2024-05-26 00:00:00',
 '2024-06-02 00:00:00', '2024-06-09 00:00:00', '2024-06-16 00:00:00',
 '2024-06-23 00:00:00', '2024-06-30 00:00:00', '2024-07-07 00:00:00',
 '2024-07-14 00:00:00', '2024-07-21 00:00:00', '2024-07-28 00:00:00',
 '2024-08-04 00:00:00', '2024-08-11 00:00:00', '2024-08-18 00:00:00',
 '2024-08-25 00:00:00', '2024-09-01 00:00:00', '2024-09-08 00:00:00']
Length: 51, dtype: datetime64[s]

In [44]:

# 계절을 할당하는 함수
def assign_season(date):
    month = date.month
    if month in [3, 4, 5]:
        return 'spring'
    elif month in [6, 7, 8]:
        return 'summer'
    elif month in [9, 10, 11]:
        return 'autumn'
    else:
        return 'winter'

# 계절 컬럼 추가
data['season'] = data['date'].apply(assign_season)

In [45]:
data['season'].unique()

array(['autumn', 'winter', 'spring', 'summer'], dtype=object)

In [46]:
data['season'].value_counts()

season
winter    2739
summer    2732
spring    2700
autumn    2511
Name: count, dtype: int64

In [47]:
# data_season = pd.get_dummies(data['season'])

In [48]:
# 계절을 할당하는 함수
def assign_season(date):
    if pd.isnull(date):  # NaT 처리
        return None
    month = date.month
    if month in [3, 4, 5]:
        return 'spring'
    elif month in [6, 7, 8]:
        return 'summer'
    elif month in [9, 10, 11]:
        return 'autumn'
    else:
        return 'winter'

# 계절 컬럼 추가
data['season'] = data['date'].apply(assign_season)

# season 열을 원핫인코딩
season_dummies = pd.get_dummies(data['season'], prefix='season').astype(int)

# 원핫인코딩된 데이터프레임을 기존 데이터프레임에 병합
data = pd.concat([data, season_dummies], axis=1)

# 여러 열의 값 조합을 튜플로 변환한 후 빈도수를 계산
season_counts = data[['season_summer', 'season_autumn', 'season_winter', 'season_spring']].apply(tuple, axis=1).value_counts()

# 결과 출력
print(season_counts)

(0, 0, 1, 0)    2739
(1, 0, 0, 0)    2732
(0, 0, 0, 1)    2700
(0, 1, 0, 0)    2511
Name: count, dtype: int64

In [49]:
data.head().T

,0,1,2,3,4
date,2023-09-24 00:00:00,2023-09-24 00:00:00,2023-09-24 00:00:00,2023-09-24 00:00:00,2023-09-24 00:00:00
Rank,1,2,3,4,5
Title,Love Lee,후라이의 꿈,"Smoke (Prod. Dynamicduo, Padi)",Super Shy,Seven (feat. Latto) - Clean Ver.
Artist,AKMU (악뮤),AKMU (악뮤),"다이나믹 듀오 (Dynamic Duo), 이영지",NewJeans,정국
Production,YG Entertainment,YG Entertainment,Stone Music Entertainment,ADOR,BIGHIT MUSIC
Weekly Views,11929992.0,11929992.0,4473459.0,11655019.0,4173726.0
Genre,K-pop / Dance,K-pop / Blues/Folk,K-pop / Rap/Hip-hop,K-pop / Dance,K-pop / Dance
Runtime,180,205,210,155,184
New_Artist,악뮤,악뮤,"다이나믹 듀오 , 이영지",뉴진스,정국
ky_rank,NaN,NaN,NaN,NaN,NaN
n_score,94.32015,94.32015,NaN,10.55509,61.50958
g_score,100,100,0,6,45
major_cate,K-pop,K-pop,K-pop,K-pop,K-pop
sub_cate,Dance,Blues/Folk,Rap/Hip-hop,Dance,Dance
major_cate_Classical,0,0,0,0,0
major_cate_J-pop,0,0,0,0,0
major_cate_Jazz,0,0,0,0,0
major_cate_K-pop,1,1,1,1,1
major_cate_OST,0,0,0,0,0
major_cate_Other,0,0,0,0,0
major_cate_Pop,0,0,0,0,0
sub_cate_Animation/Game,0,0,0,0,0
sub_cate_Ballad,0,0,0,0,0
sub_cate_Blues/Folk,0,1,0,0,0
sub_cate_Carol,0,0,0,0,0
sub_cate_Crossover,0,0,0,0,0
sub_cate_Dance,1,0,0,1,1
sub_cate_Drama,0,0,0,0,0
sub_cate_Electronica,0,0,0,0,0
sub_cate_General,0,0,0,0,0
sub_cate_Indie,0,0,0,0,0
sub_cate_Korean Movie,0,0,0,0,0
sub_cate_Pop,0,0,0,0,0
sub_cate_R&B/Soul,0,0,0,0,0
sub_cate_Rap/Hip-hop,0,0,1,0,0
sub_cate_Rock,0,0,0,0,0
sub_cate_Traditional,0,0,0,0,0
sub_cate_Trot,0,0,0,0,0
sub_cate_World Music,0,0,0,0,0
season,autumn,autumn,autumn,autumn,autumn
season_autumn,1,1,1,1,1
season_spring,0,0,0,0,0
season_summer,0,0,0,0,0
season_winter,0,0,0,0,0

In [50]:
data.columns

Index(['date', 'Rank', 'Title', 'Artist', 'Production', 'Weekly Views',
       'Genre', 'Runtime', 'New_Artist', 'ky_rank', 'n_score', 'g_score',
       'major_cate', 'sub_cate', 'major_cate_Classical', 'major_cate_J-pop',
       'major_cate_Jazz', 'major_cate_K-pop', 'major_cate_OST',
       'major_cate_Other', 'major_cate_Pop', 'sub_cate_Animation/Game',
       'sub_cate_Ballad', 'sub_cate_Blues/Folk', 'sub_cate_Carol',
       'sub_cate_Crossover', 'sub_cate_Dance', 'sub_cate_Drama',
       'sub_cate_Electronica', 'sub_cate_General', 'sub_cate_Indie',
       'sub_cate_Korean Movie', 'sub_cate_Pop', 'sub_cate_R&B/Soul',
       'sub_cate_Rap/Hip-hop', 'sub_cate_Rock', 'sub_cate_Traditional',
       'sub_cate_Trot', 'sub_cate_World Music', 'season', 'season_autumn',
       'season_spring', 'season_summer', 'season_winter'],
      dtype='object')

In [51]:
# dtype이 object인 열만 선택하여 확인
object_columns = data.select_dtypes(include=['object'])

# 선택된 열들의 정보 확인
object_columns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10682 entries, 0 to 10681
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Title       10682 non-null  object
 1   Artist      10682 non-null  object
 2   Production  10682 non-null  object
 3   Genre       10682 non-null  object
 4   New_Artist  10682 non-null  object
 5   major_cate  10682 non-null  object
 6   sub_cate    10682 non-null  object
 7   season      10682 non-null  object
dtypes: object(8)
memory usage: 667.8+ KB

In [55]:
data.rename(columns={'Weekly Views': 'WeeklyViews'}, inplace=True)

In [52]:
data2=data[['date', 'Rank', 'Title','New_Artist', 'Production','Runtime', 'WeeklyViews', 'ky_rank', 'n_score', 'g_score', 'major_cate_Classical', 'major_cate_J-pop',
       'major_cate_Jazz', 'major_cate_K-pop', 'major_cate_OST',
       'major_cate_Other', 'major_cate_Pop', 'sub_cate_Animation/Game',
       'sub_cate_Ballad', 'sub_cate_Blues/Folk', 'sub_cate_Carol',
       'sub_cate_Crossover', 'sub_cate_Dance', 'sub_cate_Drama',
       'sub_cate_Electronica', 'sub_cate_General', 'sub_cate_Indie',
       'sub_cate_Korean Movie', 'sub_cate_Pop', 'sub_cate_R&B/Soul',
       'sub_cate_Rap/Hip-hop', 'sub_cate_Rock', 'sub_cate_Traditional',
       'sub_cate_Trot', 'sub_cate_World Music', 'season_autumn',
       'season_spring', 'season_summer', 'season_winter']]

In [53]:
data2.to_csv('new_before_nomalization_ccwt241002.csv', index=False)